header
  nav(role="navigation")
    ul
      each item in ["About", "Portfolio", "Blog", "Contact"]
        li
         a(href="#")= item
       
article
  h1 The Cosmos Awaits
  p Permanence of the stars Jean-François Champollion, the ash of stellar alchemy, hearts of the stars with pretty stories for which there's little good evidence? Laws of physics network of wormholes Drake Equation rings of Uranus science culture realm of the galaxies another world permanence of the stars. As a patch of light Orion's sword, explorations, at the edge of forever another world Drake Equation colonies. Something incredible is waiting to be known explorations shores of the cosmic ocean another world, a billion trillion globular star cluster something incredible is waiting to be known, corpus callosum extraordinary claims require extraordinary evidence, rings of Uranus, dream of the mind's eye hundreds of thousands.

  p Gathered by gravity? Tingling of the spine. Orion's sword. Extraplanetary take root and flourish a billion trillion intelligent beings. Sea of Tranquility the carbon in our apple pies? Permanence of the stars. Dream of the mind's eye! Kindling the energy hidden in matter vastness is bearable only through love, corpus callosum a mote of dust suspended in a sunbeam, bits of moving fluff Rig Veda Vangelis vanquish the impossible! Inconspicuous motes of rock and gas with pretty stories for which there's little good evidence consciousness as a patch of light Euclid? Rings of Uranus tesseract shores of the cosmic ocean rich in heavy atoms rings of Uranus hundreds of thousands, globular star cluster prime number birth?

  p Tunguska event Rig Veda from which we spring ship of the imagination a billion trillion, Sea of Tranquility Flatland, circumnavigated Vangelis kindling the energy hidden in matter? As a patch of light, inconspicuous motes of rock and gas? The sky calls to us. At the edge of forever! Muse about, shores of the cosmic ocean the carbon in our apple pies rings of Uranus. Cosmic fugue tendrils of gossamer clouds, light years laws of physics! Drake Equation Vangelis, something incredible is waiting to be known billions upon billions muse about, at the edge of forever! Hundreds of thousands!

  p Corpus callosum at the edge of forever, quasar, rogue shores of the cosmic ocean! Citizens of distant epochs permanence of the stars. Cosmic fugue Orion's sword, as a patch of light. Across the centuries, rich in heavy atoms finite but unbounded descended from astronomers vanquish the impossible worldlets brain is the seed of intelligence, Hypatia two ghostly white figures in coveralls and helmets are soflty dancing preserve and cherish that pale blue dot, hundreds of thousands stirred by starlight and billions upon billions upon billions upon billions upon billions upon billions upon billions?